.Ball {
  display: block;
  background: black;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin: 0;
  /* background: radial-gradient(circle at 100px 100px, #FC766A, #000); */
}

.Lonely {
  background: radial-gradient(circle at 6px 6px, #FDBAB4, #000);
}

.Alive {
  background: radial-gradient(circle at 6px 6px, #B0B8B4, #000);
  animation-name: bubble-anim;
  animation-duration: 1000ms;
}

.Crowded {
  background: radial-gradient(circle at 6px 6px, #FC766A, #000);
}

@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}
