.Grid {
  border-collapse: collapse;
}

.Grid td {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
}

.dead {
  background-color: #184A45;
}

.lonely {
  background-color: #FDBAB4;
  animation-name: dying-lonely;
  animation-duration: 1000ms;
}

.alive {
  background-color: #B0B8B4;
}

.crowded {
  background-color: #FC766A;
  animation-name: dying-crowded;
  animation-duration: 1000ms;
}

@keyframes dying-lonely {
  50% {
    background-color: #FDBAB4;
  }
  100% {
    background-color: #184A45;
  }
}

@keyframes dying-crowded {
  50% {
    background-color: #FC766A;
  }
  100% {
    background-color: #184A45;
  }
}
