.Backdrop {
  position: fixed;
  z-index: 100;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* position: absolute; */
  width: 1100px;
  height: 600px;
  padding: 30px;
  /* top: -30px;
  left: -30px; */
  /* background-color: rgba(223, 226, 225, 0.5); */
  /* background-color: rgba(253, 200, 195, 0.45); */
  background-color: #184A45;
  opacity: 0.8;
  /* border-radius: 12%; */
}

h1 {
  font-size: 600%;
  color: black;
}

button {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px;
  width: 130px;
  /* border-radius: 900px; */
  height: 130px;
  margin: 30px;
  transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  width: 150px; height: 150px;
}

button:focus {
  outline: 0;
}

.Refresh {
  background-image: url("../../../assets/refresh-button-png-9-transparent.png");
}

.Play {
  background-image: url("../../../assets/black-play-button-png-2-transparent.png");
}

.Pause {
  background-image: url("../../../assets/pause-transparent-png-7-transparent.png");
}
